::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/*** custom bootstrap component***/
.btn-inverse:hover {
	color: #fff;
	background-color: #1c52a4;
}
.btn-green {
  color: #ffffff;
  background-color: #339900;
  border-color: #339900;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
  color: #ffffff;
  background-color: #339900;
  border-color: #339900;
}

.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
  background-image: none;
}

.btn-green.disabled,
.btn-green[disabled],
fieldset[disabled] .btn-green,
.btn-green.disabled:hover,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-green:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
fieldset[disabled] .btn-green:focus,
.btn-green.disabled:active,
.btn-green[disabled]:active,
fieldset[disabled] .btn-green:active,
.btn-green.disabled.active,
.btn-green[disabled].active,
fieldset[disabled] .btn-green.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}



.btn-blue {
  color: #ffffff;
  background-color: #1c52a4;
  border-color: #1c52a4;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  color: #ffffff;
  background-color: #1c52a4;
  border-color: #1c52a4;
}

.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  background-image: none;
}

.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-red {
  color: #ffffff;
  background-color: #cd292a;
  border-color: #cd292a;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
  color: #ffffff;
  background-color: #cd292a;
  border-color: #cd292a;
}

.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
  background-image: none;
}

.btn-red.disabled,
.btn-red[disabled],
fieldset[disabled] .btn-red,
.btn-red.disabled:hover,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red:hover,
.btn-red.disabled:focus,
.btn-red[disabled]:focus,
fieldset[disabled] .btn-red:focus,
.btn-red.disabled:active,
.btn-red[disabled]:active,
fieldset[disabled] .btn-red:active,
.btn-red.disabled.active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}


.btn-black {
  color: #ffffff;
  background-color: #000;
  border-color: #000;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
  color: #ffffff;
  background-color: #000;
  border-color: #000;
}

.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
  background-image: none;
}

.btn-black.disabled,
.btn-black[disabled],
fieldset[disabled] .btn-black,
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled:active,
.btn-black[disabled]:active,
fieldset[disabled] .btn-black:active,
.btn-black.disabled.active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

/***App Style***/

.redRibon{
	width: 100%;
	height: 4px;
	background: red;
}

header{
	background: #fff;
}

#hederTexta{
	font-size: 1.4em;
	font-weight: bold;
	margin-top: 30px;
}

#hederTextb{
	font-size: 3em;
	font-weight: bold;
	color: #1c52a4;
	position: absolute;
	margin-top: -15px;
}

footer{
	background: #373737;
	height: 150px;
	margin-top: 20px;
}

footer h4{
	color: #fff;
}


.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	border: 0;
}

.nav > li {

}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #1c52a4;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: #ffffff;
	background-color: #1c52a4;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #1c52a4;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	font-weight: bold;
}


@media (min-width: 1200px) { 
	.navbar-inverse .navbar-nav > li > a {
		color: #ffffff;
		font-weight: bold;
		padding-left: 27px;
		padding-right: 27px;
	}
}
@media (min-width: 1024px) {
	#hederTexta,
	#hederTextb{
		padding-left: 15px;
	}
}

@media (min-width: 1200px) {
	#hederTexta,
	#hederTextb{
		padding-left: 0px;
	}
}


.content{
	background: #ffff99;
	padding-bottom: 20px;
}

#bannersDiv{
	margin-top: 10px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
}

.row{
	margin-left: 15px;
	margin-right: 15px;
}

.btn{
	border-radius:0;
}

.blackHr{
	border-top: 1px solid #000000;
	margin-top: 0px;
	margin-bottom: 0px;
}

.missionText{
	text-align: center;
	font-size: x-large;
	font-weight: 600;
}
.btn-inverse{
	color: #fff;
	background: #000;
}

.hoverCraft{
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
	height: 150px;
}

.hoverCraft h3{
	color: #fff;
	padding-top: 15%;
	padding-left: 10px;
	text-align: left;
}
.hoverCraft:hover .headText {
	display: none;
	-webkit-transition: all 0.9s ease-in-out;
	transition: all 0.9s ease-in-out;
}


#craft1{
	background: url("../img/kyps_default.jpg");
	border: 5px solid #53a245;
}

#craft1:hover{
	background: url("../img/kyps_mo.jpg");
	border: 5px solid #000;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#craft2{
	background: url("../img/crimestats_default.jpg");
	border: 5px solid #cd292a;
}

#craft2:hover{
	background: url("../img/crimestats_mo.jpg");
	border: 5px solid #000;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}


#craft3{
	background: url("../img/traffic_default.jpg");
	border: 5px solid #143c79;
}

#craft3:hover{
	background: url("../img/traffic_mo.jpg");
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border: 5px solid #000;
}

#craft4{
	background: url("../img/rg_default.jpg");
	border: 5px solid #212a25;
}

#craft4:hover{
	background: url("../img/rg_mo.jpg");
	border: 5px solid #000;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.innerhoverCraft{
	padding-top: 25px;
	padding-left: 25px;
}

.headText{
	color: #fff;
	font-size: 1.8em;
	font-weight: bold;
	text-shadow: 0 3px 0 rgba(0,0,0,0.5);
}


.redText{
	color: #dc5826;
}

.subNav{
	background-color: #1c52a4;
	height: 50px;
}
.subNavtext{
	color: #fff;
	line-height: 2.5;
	font-size: 1.5em;
	padding-left: 100px;
	
}

@media (min-width: 1200px) {
	.subNavtext{
		margin-left: 50px;
	}
}
.mapInfobox{
	width: 320px;
	height: 450px;
	background: #ffff00;
	position: absolute;
	margin-top: -450px;
	margin-left: 70%;
	text-indent: 10px;
}

.box{
	height: 20px;
	width: 20px;
}

#div_13,
#div_12,
#div_11,
#div_10,
#div_09,
#two_wheeler_lifter_div,
#peddler_div,
#snatcher_div{
	display: none;
}

.img_pills{
	margin-right: 10%; 
	margin-top: 8px; 
}
.img_pills button{
	border-radius:4px; 
}

.btnPill{
	background: transparent;
	border: 0;
	color: #fff;
	height: 30px;
	width: 150px;
}

.btnPill:hover{
	border: 1px solid #fff;
	border-radius: 4px;
}

.btnPillactive{
	border: 1px solid #143c79;
	border-radius: 4px;
	background: #428bca;
	color: #fff;
	height: 30px;
	width: 150px;
}