
#section1{
	background-color:#5aca8c;
}
#section2{
	background-color:#d15657;
}
#section3{
	background-color:#7EB5D6;
}
#section4{
	background-color:#f2f2f2;
}
#section5{
	background-color:#DFC184;
}
.section{
    margin:0px;
    height:800px;
    width:100%;
    float:left;
    padding-left: 40px;
	padding-right: 40px;
}
.section h2{
    margin:30px 0px 20px 50px;
}
.section p{
    margin:10px 150px 0px 50px;
    font-size: 14px;
    word-spacing: 4px;
}
.row{
	 margin:30px 0px 20px 50px;
}