/bootstrap/compiled.php
/vendor
/public/uploads/hotelguestlist
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
export SENDGRID_API_KEY='q_8fxvQORfe4W95PcMMfYw' echo sendgrid.env source ./sendgrid.env
